<div class="modal hidden" data-modal-target="container">
  <div class="modalContent" data-controller="photo-upload" data-modal-target="content">
    <%= render "form", decoration: @decoration %>
  </div>
</div>
