<div class="container-edit-budget">
	<div>
		<h2 class="tituloEventoSelecionado"> TESte</h2>
		<h3 class="dataEventoSelecionado"> DATAAA </h3>
	</div>

	<%= render 'budgets/form_edit', budget: @budget %>
</div>