<h1>Editing Budget</h1>

<% if @current_user.admin? %>
  <%= render 'form_admin', budget: @budget %>
<% else %>
  <%= render 'form', budget: @budget %>
<% end %>

<%= link_to 'Show', @budget %> |
<%= link_to 'Back', budgets_path %>
