<div class="budgets-container">

    <div class="div-img-title">
        <%= link_to image_tag("CastrilloEventos.png", alt: "logo simone castrillo", class: "img-title"), root_path %>
    </div>

    <h1 class="budget-title">ORÇAMENTO</h1>

    <%= render 'form', budget: @budget %>
</div>