<h1> Dados do cliente </h1>

<h2>Nome:</h2>
<p><%= @user.name %> </p>
<h2>Email:</h2>
<p><%= @user.email %> </p>
<h2>Foto de perfil:</h2>
<% if @user.photo.attached? %>
  <div style="height: 300px;">
    <%= image_tag url_for(@user.photo), alt: "Foto do usuário", style: "height: 100%; width: auto;" %>  
  </div>
<% else %>
  <p>Sem foto cadastrada</p>
<% end %>

<%= link_to 'Editar pefil', edit_user_path %>

