<div id="bannerId" class="container-slideshow swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag "imgDecoracaoBanner5.jpg", alt: "slide", class: "imgBanner" %>
      <div class="conteudoBanner">
        <h1>Reserve sua festa</h1>
        <p>Um sistema simples e seguro para reservar o espaço perfeito para sua festa, com total personalização no orçamento e atendimento especializado.</p>
      </div>
    </div>
  </div>
</div>
