<div class="container-steps" id="reservas">
  <div class="titulo-reserva">
    <h1 class="titulo-principal ajuste_titulo">COMO RESERVAR?</h1>
    <div class="hr"></div>
    <p class="descricao ajuste_descricao">Fácil e rápido, confira o passo a passo</p>
  </div>

  <div class="passos-reserva">
    <%= render "step_reserva" %>
  </div>
</div>