<% if user_signed_in? %>
	<h1> Olá, <%= current_user.name %> </h1>
	<div>
		<% if current_user.photo.attached? %>
			<%= image_tag current_user.photo, style: "height: 300px; width: auto;"  %>
		<% else %>
			<p> sem foto </p>
		<% end %>
	</div>
	<%= button_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
	<h1> Bem vindo! Faça login para continuar </h1>
	<%= link_to 'Login', new_user_session_path %>
<% end %>
