.container-btn {
    padding: 15px 20px;
    background: rgb(54,70,82);
    background: linear-gradient(90deg, #19222E 0%, #2F425B 80%, #1D2736 100%);
    height: 46px;
    width: 46px;
}
.btn-login-page {
    border-radius: 50%;
    /* padding: s10px; */
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
