.container-modal-budget {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.423);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-modal-budget {
    animation: fade 0.5s;
    width: 70%;
    height: 60%;
    padding:  60px 50px;
    border-radius: 10px;
    background: #19222E;
}

.decoracaoSelecionada {
    border: 2px solid #ff69b4;
    border-radius: 20px;
}
.decoracao:hover .infoEvento-modal-budget {
    display: flex;
}
.infoEvento-modal-budget {
    display: none;
    position: absolute; 
    top: 0;
    overflow-wrap: break-word;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.558); 
    color: white; 
    border-radius: 20px; 
}

.infoEvento-modal-budget h3 {
    font-size: 20px;
    width: 180px;
}

.decorated-h4 {
    color: #ff69b4;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}
.titulo-modal-budget {
    font-size: 32px;
    color: #FFB6C1;
    text-align: center;
    margin: 0 0 30px 0;
}
.decoracoes {
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    justify-content: center;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    width: 100%;
    overflow-y: auto;
    height: 80%;
    flex-wrap: wrap;
}

.decoracoes::-webkit-scrollbar {
    width: 12px;
    background: transparent; 
}

.decoracoes::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 10px; 
}

.decoracoes::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading img {
    margin-bottom: 40px;
    width: 40px;
}
.decoracoes .decoracao {
    width: 200px;
    position: relative;
    height: 250px;
    padding: 0;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.decoracao-img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.modal-none-image {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

