.header-my-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagemUsuario img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.controleInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.container-my-data {
    display: flex;
    width: 100%;
    /* align-items: center;  */
    height: 50%;
    margin-top: 80px;
}

.container-show {
    padding: 20px 120px
}

.inputs-data {
    align-items: center;
}

.infoUsuario {
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.inputsLados {
  display: flex;
  gap: 20px;
}

.inputBlock {
    border-radius: 5px !important;

    border: none;
    padding: 10px 0 10px 20px;
    width: 250px;
    color: #000;
    border: 1px solid #D9D9D933;

    background-color: #D9D9D933;
    display: block;
}

.imagemUsuario {
    position: relative;
    width: 300px;
    height: 300px;
}

.input-show {
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.input-editing {
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.editar {
    padding: 10px;
    border-radius: 100%;
    background-color: #C54477;
    position: absolute;
    bottom: 2%;
    right: 11%;
}

@media screen and (max-width: 1190px) {
    .infoUsuario {
        justify-content: center;
    }
    .container-my-data {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 0;
    }
    .imagemUsuario {
        margin-top: 30px;
    }
}
@media screen and (max-width: 839px) {
   .header-my-data {
         flex-direction: column;
         gap: 10px;
   }
    .header-my-data h1 {
        margin: 0;
    }   
}
@media screen and (max-width: 680px) {
    .imagemUsuario {
        position: relative;
        width: 200px;
        height: 200px;
    }
    .controleInfo {
        width: 100%;
    }
    .inputsLados {
        width: 100%;
    }
    .input {
        width: calc(100% - 20px);
    }
    .caixa {
        width: calc(100% - 20px);
    }
    .infoUsuario {
        margin: 0 auto;
        display: flex;
        gap: 30px;
    }
    .container-my-data {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 0;
    }
}