.decoration-show-container {
  max-width: 1000px;
  margin: 100px auto 0px;
  padding: 40px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.decoration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.decoration-title-wrapper {
  display: flex;
  flex-direction: column;
}

.icon-edit {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s, transform 0.2s;
}

.icon-edit:hover {
  opacity: 1;
  transform: scale(1.1);
}

.btn-want-decoration {
  background-color: #ff4081;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s;
}

.btn-want-decoration:hover {
  background-color: #e13670;
}

.btn-edit-decoration {
  background: none;
  border: none;
  padding: 0;
}


.decoration-title-show {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 10px;
}

.decoration-type {
  font-size: 1.1rem;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}

.decoration-main-photo {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}

.decoration-actions {
  margin-top: 12px;
}

.main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.main-photo:hover {
  transform: scale(1.03);
}

.decoration-thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnail.active {
   border: 3px solid #ff4081;
}

.thumbnail:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.lightbox.hidden {
  display: none;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.97); }
  to { opacity: 1; transform: scale(1); }
}
